pkgbase = python-patch-ng
	pkgdesc = Library to parse and apply unified diffs forked from python-patch.
	pkgver = 1.18.0
	pkgrel = 2
	url = https://github.com/conan-io/python-patch/
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	source = python-patch-ng-1.18.0.tar.gz::https://pypi.io/packages/source/p/patch-ng/patch-ng-1.18.0.tar.gz
	md5sums = 5df1f6f28b8fcf09bc4dfd182caa12d8

pkgname = python-patch-ng
